body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #081456, #1a2dff, #207dff);
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #00000090;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

.logo img {
    height: 35px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #00000090;
    padding-bottom: 15px;
}

.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero .button {
    background: #ff4081;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


.hero-image img {
    max-width: 80%;
    margin-left: 50px;
    height: auto;
}

.hero .sign_log {
    position: relative;
    display: flex;
    align-items: center;
}

.sign_log {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    gap: 15px;
    background: #00000090;
}

.sign_log button {
    background: #ff4081;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #0b132b;
    width: 100%;
    padding: 15px 0;
}

footer .social-links {
    display: flex;
    justify-content: column;
    align-items: left;
    gap: 15px;
    margin-right: 65%;
}

footer .social-links a.empty {
    background-color: transparent;
    width: 100px;
    background-color: #333;
    height: 40px;
}

footer .social-links a.facebook,
footer .social-links a.youtube,
footer .social-links a.twitter {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: #333;
    transition: background-color 0.3s ease;
}

footer .social-links a.facebook:hover,
footer .social-links a.youtube:hover,
footer .social-links a.twitter:hover {
    background-color: #555;
}

footer .social-links img {
    width: 25px;
    height: 25px;
}