body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right top, #081456, #1a2dff, #207dff);
    color: #000000;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: center;
}

.login-container {
    width: 350px;
    height: auto;
    padding: 16px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

.login-container h2, h5 {
    text-align: center;
    margin: 20px 0 20px 0px;
}

label[for="email"],
label[for="password"],
label[for="username"],
label[for="fullname"],
label[for="image"] {
    font-weight: bold;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 14px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-container a {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover,
.login-container a:hover {
    opacity: 0.8;
}

.login-container .file_img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

input[type=file] {
    margin: 0;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #000000;
    border: 5px solid #000000;
}