<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Market | Landing Page</title>
    <link rel="icon" href="../static/images/ai.png" type="img">
    <link rel="stylesheet" href="../static/landing_page.css">
    <link rel="stylesheet" href="../static/video.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="hero">
            <div class="hero-image">
                <img src="../static/images/ai.png" alt="Cover Image">
            </div>
            <div class="hero_content">
                <h1>Master Market</h1>
                <p>The ultimate e-commerce experience</p>
                <a class="button" href="./home_login.html">Visit Master Market</a>
            </div>
        </div>
        <div class="logo">
            Welcome in Master Market
        </div>
        <h2>About Our Project</h2>
        <div class="video_section">
            <iframe src="https://drive.google.com/file/d/1Ayk9MVzAag_34_-kD8EX10fTzsWIGzK-/preview" allow="autoplay" allowfullscreen></iframe>
        </div>
        <div class="hero_content">
            <div class="sec">
                <div class="para">
                    <h3>
                        The "Master Market" project encapsulates the essence of modern e-commerce,
                        blending intuitive design with robust functionality to create an unparalleled shopping experience.
                        From the seamless user registration and login processes to the dynamic product pages and personalized favorite lists,
                        every aspect of this project has been meticulously crafted to meet the needs of today's discerning online shoppers.
                    </h3>
                    <img src="../static/images/3d-delivery-robot-working.jpg" alt="Screenshot 1">
                    <h3>
                        This journey has not been without its challenges, both technical and non-technical.
                        Yet, each obstacle has only strengthened our resolve, driving innovation and enhancing the overall quality of the platform.
                        The technical hurdles, from integrating dynamic content rendering to optimizing user interactions,
                        have been overcome with strategic problem-solving and persistent effort.
                        The non-technical challenges, such as time management and resource allocation, have fostered growth in project management skills and efficiency.
                    </h3>
                    <img src="../static/images/boxing-day-celebration-with-toy_23-2151013801.jpg" alt="Screenshot 1">
                    <h3>
                        "Master Market" stands as a testament to the potential of combining cutting-edge technology with user-centric design principles.
                        It is not just an online store but a comprehensive platform that adapts to and anticipates user needs, offering a fluid and enjoyable shopping journey.
                        This project highlights the importance of continuous learning, adaptation,
                        and commitment to excellence in the ever-evolving landscape of web development.
                    </h3>
                    <h3>
                        As we look to the future,
                        "Master Market" will continue to evolve,
                        incorporating user feedback and the latest technological advancements.
                        This project is more than just a milestone; it is the foundation for ongoing innovation and success in the digital marketplace.
                        The dedication and passion poured into "Master Market" will undoubtedly resonate with its users,
                        ensuring its place as a leader in the e-commerce domain.
                    </h3>
                </div>
            </div>
            <div class="sec">
                <h2>Login or Signup</h2>
                <div class="para">
                    <div class="center">
                        <h3>if you choose Sign In</h3>
                        <img src="../static/images/6.jpg" alt="Screenshot 1">
                        <a class="button_group" href="./login.html">Login</a>
                    </div>
                    <div class="center">
                        <h3>if you choose Sign Up</h3>
                        <img src="../static/images/6.jpg" alt="Screenshot 1">
                        <a class="button_group" href="./sign.html">Register</a>
                    </div>
                </div>
            </div>
            <div class="sec">
                <h2>Project: Master Market</h2>
                <div class="para">
                    <p>Master Market is an online shopping platform that provides users with a seamless and enjoyable shopping experience.</p>
                    <h3>Key Features</h3>
                    <ul>
                        <li>User Registration and Login</li>
                        <li>Product Browsing and Searching</li>
                        <li>Shopping Cart and Checkout</li>
                    </ul>
                    <h3>Screenshots</h3>
                    <div class="screenshots">
                        <div class="center">
                            <h3>home page and search</h3>
                            <img src="../static/images/1.jpg" alt="Screenshot 1">
                        </div>
                        <div class="center">
                            <h3>you can buy and make star on your favorite products</h3>
                            <img src="../static/images/2.jpg" alt="Screenshot 1">
                        </div>
                        <div class="center">
                            <h3>information about one of products</h3>
                            <img src="../static/images/3.jpg" alt="Screenshot 1">
                        </div>
                        <div class="center">
                            <h3>Select The Best Product</h3>
                            <img src="../static/images/4.jpg" alt="Screenshot 1">
                            <h3>Make Star on it</h3>
                            <img src="../static/images/5.jpg" alt="Screenshot 1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec">
                <h2>Key Features</h2>
                <div class="feature">
                    <div>
                        <h3>Feature one: Multi-Device Compatibility</h3>
                        <p>Shop from anywhere using any device. Our platform is optimized for desktops, tablets, and mobile phones to provide a seamless experience across all devices.</p>
                    </div>
                    <div>
                        <img src="../static/images/7.jpg" alt="Feature 5 Image">
                    </div>
                </div>
                <div class="feature">
                    <div>
                        <h3>Feature Two: Secure Checkout</h3>
                        <p>Enjoy a seamless and secure checkout experience with multiple payment options and advanced encryption to protect your data.</p>
                    </div>
                    <div>
                        <img src="../static/images/b5c08e58a351d69239c2179a815a0b4d.gif" alt="Feature 2 Image">
                    </div>
                </div>
                <div class="feature">
                    <div>
                        <h3>Feature Three: Search Box</h3>
                        <p>Quickly find what you're looking for with our intuitive and efficient search box, designed to deliver relevant results instantly.</p>
                    </div>
                    <div>
                        <img src="../static/images/8.jpg" alt="Feature 2 Image">
                    </div>
                </div>
                <div class="feature_me">
                    <div>
                        <h3>Feature Four: 24/7 Customer Support</h3>
                        <p>Our dedicated customer support team is available around the clock to assist you with any inquiries or issues you may encounter.</p>
                    </div>
                    <div>
                        <img src="../static/images/screenshot20231215-3506-ul1vxh.png" alt="Feature 3 Image">
                    </div>
                </div>
            </div>
            <div class="sec">
                <h2>About</h2>
                <div class="para">
                    <p>
                        Hello! I'm Abdallah,
                        a passionate web developer with expertise in building dynamic web applications.
                        I love creating solutions that make a difference.
                        We will show you the most important works of this site master market.
                    </p>
                    <p>
                        This is my first project and I wanted to create a website that works with artificial intelligence.
                        I have overcome many obstacles on my own and I will continue on it.
                        I will provide this website with AI services in the future and add many features.
                    </p>
                    <h2>What Inspired This Project</h2>
                    <p>
                        The inspiration for "Master Market" came from a desire to create a seamless and efficient shopping experience.
                        As a passionate web developer, I wanted to build a platform that not only meets but exceeds user expectations.
                        The idea was born from my own experiences with online shopping and the realization of the potential to improve
                        the way we shop online. This project is a testament to my journey in web development and my commitment to creating
                        impactful digital solutions.
                    </p>
                    <h3>Skills and Technologies</h3>
                    <ul>
                        <li>Python</li>
                        <li>MySQL</li>
                        <li>HTML & CSS</li>
                        <li>Flask</li>
                        <li>JavaScript</li>
                    </ul>
                    <h3>Experience</h3>
                    <p>So far the experience is not great but I am working on making it the best thing.</p>
                    <h3>Meet the Team</h3>
                    <ul>
                        <strong>Abdallah:</strong> Web Developer
                        <ul class="all_button">
                            <a href="https://www.linkedin.com/in/abdallah-mohamed-628416289/" target="_blank">LinkedIn</a>
                            <a href="https://x.com/AbdallahM4065" target="_blank">Twitter</a>
                            <a href="https://github.com/AbdallahM19" target="_blank">GitHub</a>
                        </ul>
                    </ul>
                    <h3>Project Repository</h3>
                    <div class="repo_b">
                        <p>You can find the source code for this project on GitHub: </p>
                        <a class="repo" href="https://github.com/AbdallahM19/Master_market.git" target="_blank">Master Market GitHub Repository</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="social-links">
            <a class="empty"></a>
            <a class="facebook" href="https://www.facebook.com/">
                <img src="../static/images/2023_Facebook_icon.svg.png" alt="Your Image Description">
            </a>
            <a class="youtube" href="https://www.youtube.com/">
                <img src="../static/images/youtube (2).png" alt="Your Image Description">
            </a>
            <a class="twitter" href="https://x.com/home">
                <img src="../static/images/twitter.png" alt="Your Image Description">
            </a>
            <a class="twitter" href="https://www.instagram.com/">
                <img src="../static/images/instagram.png" alt="Your Image Description">
            </a>
        </div>
    </footer>
</body>
</html>