<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="../static/images/download.png" type="img">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/header_home.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <button>
                    <img src="../static/images/ai.png" type="logo">
                </button>
            </a>
        </div>
    </header>
    <div class="login-container">
        <h2>Login</h2>
        <img src="../static/images/8121295.gif" alt="GIF Description" class="centered_gif">
        <form id="loginForm">
            <label for="email">Username or E-mail:</label>
            <br>
            <input type="text" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
            <a href="/register">
                <h5>Don't have an account? Sign Up</h5>
            </a>
        </form>
        <p id="error" style="color: red; text-align: center;"></p>
    </div>
    <script src="../static/login_code.js"></script>
</body>
</html>