<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Market</title>
    <link rel="icon" href="../static/images/ai.png" type="img">
    <link rel="stylesheet" href="../static/master_market.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="./home.html">
                <button>
                    <img src="../static/images/ai.png" type="logo">
                </button>
            </a>
        </div>
        <div  class="profile">
            <img src="../static/images/past.gif"
        </div>
    </header>
    <section>
        <div class="search_box">
            <input type="text" id="searchInput" placeholder="Search">
            <button class="button_search">
                <img src="../static/images/search_icon.png" alt="search button">
            </button>
        </div>
        <div class="some_products">
            <h1>Trending</h1>
        </div>
    </section>
    <section class="information">
        <article class="products_display">
            <h2 class="product_name">Laptop</h2>
            <div class="product_images">
                <img src="../static/images/laptop.png" alt="laptop photo">
            </div>
            <p class="product_description">Description: A laptop computer</p>
            <p class="product_price">Price: $1056.32 USD</p>
            <p class="product_stock">Stock: 6</p>
            <p class="product_category">Category: Electronics</p>
            <p class="product_brand">Brand: BrandZ</p>
            <div class="product_attributes">
                <p>Attributes:</p>
                    <ul>
                        <li>Color: Black</li>
                        <li>Size: 15 inch</li>
                    </ul>
            </div>
            <button class="buy">Buy</button>
            <button class="save">Save</button>
            <button class="favorite" onclick="toggleFavorite(this)">
                <img src="../static/images/star.png" alt="Favorite">
            </button>
        </article>
        <article class="products_display">
            <h2 class="product_name">PC</h2>
            <div class="product_images">
                <img src="../static/images/interface.gif" alt="laptop photo">
            </div>
            <p class="product_description">Description: A PC</p>
            <p class="product_price">Price: $899.99 USD</p>
            <p class="product_stock">Stock: 15</p>
            <p class="product_category">Category: Electronics</p>
            <p class="product_brand">Brand: BrandZ</p>
            <div class="product_attributes">
                <p>Attributes:</p>
                    <ul>
                        <li>Color: white</li>
                        <li>Size: 15 inch</li>
                    </ul>
            </div>
            <button class="buy">Buy</button>
            <button class="save">Save</button>
            <button class="favorite" onclick="toggleFavorite(this)">
                <img src="../static/images/star.png" alt="Favorite">
            </button>
        </article>
        <article class="products_display">
            <h2 class="product_name">Video</h2>
            <div class="product_images">
                <div class="main_photo">
                    <img src="../static/images/video.gif" alt="laptop photo">
                </div>
                <div class="more_imgs">
                    <div class="thumb">
                        <img src="../static/images/135053.gif" alt="thumbnail photo">
                    </div>
                    <div class="thumb">
                        <img src="../static/images/logan_smile.jpg" alt="thumbnail photo">
                    </div>
                    <div class="thumb last_img">
                        <img src="../static/images/download.gif" alt="thumbnail photo">
                        <button class="overlay_button">
                            <h1>+4</h1>
                        </button>
                    </div>
                </div>
            </div>
            <p class="product_description">Description: film X-Men and Login</p>
            <p class="product_price">Price: $20.0 USD</p>
            <p class="product_stock">Stock: 67</p>
            <p class="product_category">Category: Film</p>
            <p class="product_brand">Brand: Video</p>
            <div class="product_attributes">
                <p>Attributes:</p>
                    <ul>
                        <li>Size: Full Size</li>
                    </ul>
            </div>
            <button class="buy">Buy</button>
            <button class="save">Save</button>
            <button class="favorite" onclick="toggleFavorite(this)">
                <img src="../static/images/star.png" alt="Favorite">
            </button>
        </article>
        <article class="products_display">
            <h2 class="product_name">T-Shirt</h2>
            <div class="product_images">
                <img src="../static/images/tshirt.gif" alt="laptop photo">
            </div>
            <p class="product_description">Description: Casual cotton t-shirt</p>
            <p class="product_price">Price: $19.99 USD</p>
            <p class="product_stock">Stock: 50</p>
            <p class="product_category">Category: Apparel</p>
            <p class="product_brand">Brand: XYZ</p>
            <div class="product_attributes">
                <p>Attributes:</p>
                    <ul>
                        <li>Color: white</li>
                        <li>Size: medium</li>
                    </ul>
            </div>
            <button class="buy">Buy</button>
            <button class="save">Save</button>
            <button class="favorite" onclick="toggleFavorite(this)">
                <img src="../static/images/star.png" alt="Favorite">
            </button>
        </article>
        <article class="products_display">
            <h2 class="product_name">Glasses</h2>
            <div class="product_images">
                <img src="../static/images/party-glasses.gif" alt="laptop photo">
            </div>
            <p class="product_description">Description: party glasses</p>
            <p class="product_price">Price: $132.89 USD</p>
            <p class="product_stock">Stock: 21</p>
            <p class="product_category">Category: T-shirts</p>
            <p class="product_brand">Brand: Golden Goose Style</p>
            <div class="product_attributes">
                <p>Attributes:</p>
                    <ul>
                        <li>Color: Black and blue</li>
                    </ul>
            </div>
            <button class="buy">Buy</button>
            <button class="save">Save</button>
            <button class="favorite" onclick="toggleFavorite(this)">
                <img src="../static/images/star.png" alt="Favorite">
            </button>
        </article>
    </section>
    <footer>
        <h1>Master Market</h1>
    </footer>
</body>
</html>
